<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách students</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <style>


    </style>

    <script type="text/javascript">
        function addStudent() {
            let name = $('#idname').val();
            let age = $('#idage').val();
            let address = $('#idaddress').val();
            let email = $('#idemail').val();
            let student = {
                name: name,
                age: age,
                address: address,
                email: email
            };
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                type: `POST`,
                data: JSON.stringify(student),
                url: "/Student",
                success: success
            });
            event.preventDefault();
        }

        function success() {
            $.ajax({
                type: "GET",
                url: "/Student",
                success: function (data) {
                    let content = '<tr>' +
                        '<th>Name</th>' +
                        '<th>Age</th>' +
                        '<th>Address</th>' +
                        '<th>Email</th>' +
                        '<th>Action</th>' +
                        '</tr>';

                    for (let i = 0; i < data.length; i++) {
                        content += getStudent(data[i]);
                    }
                    document.getElementById('table_student').innerHTML = content;
                }
            });

        }

        function getStudent(s) {
            return `<tr>` +
                `<td th:text="">${s.name}</td>` +
                `<td th:text="">${s.age}</td>` +
                `<td th:text="">${s.address}</td>` +
                `<td th:text="">${s.email}</td>` +
                `<td>` +
                `<button type="submit" className="deleteStudent" value="${s.id}" >Delete</button>` +
                `</td>` +
                `</tr>`;
        }


        $(document).ready(function () {
            $('.deleteStudent').click(function (event) {
                let a = $(this);
                let id = a.attr('value');
                $.ajax({
                    type: "DELETE",
                    url: `/Student/${id}`,
                    success: function () {
                        a.parent().parent().remove();
                    }

                });
                event.preventDefault();
            });
        })

        function searchStudent(){
        //    lấy thông tin
            let name = $('#name-search').val();


        }

    </script>

</head>
<body>
<br>
<div >
    <input type="search" id="name-search" placeholder="Search..">
    <button type="button" onclick="searchStudent()">Search</button>
</div>
<br><br>
<form action="" method="post">
    <input type="text" name="name" id="idname" placeholder="Name"><br>
    <input type="number" name="age" id="idage" placeholder="Age"><br>
    <input type="text" name="address" id="idaddress" placeholder="Address"><br>
    <input type="text" name="email" id="idemail" placeholder="Email"><br>
    <button type="submit" onclick="addStudent()">AddNew</button>
</form>

<br><br>
<table border="1 solid" id="table_student">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Email</th>
        <th>Action</th>
    </tr>

    <th:block th:each="s:${s}">
        <tr>
            <td th:text="${s.name}"></td>
            <td th:text="${s.age}"></td>
            <td th:text="${s.address}"></td>
            <td th:text="${s.email}"></td>
            <td>
                <button type="submit" class="deleteStudent" th:id="${s.id}" th:value="${s.id}">Delete</button>
            </td>
        </tr>
    </th:block>
</table>


</body>
</html>